.allproducts{
    width: 83vw;
    height: 90vh;
    /* background-color: lightgreen; */
    display: flex;
    padding-top: 3vmax;
    padding-left: 3vmax;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;

}
.card{
    width: 15vw;
    min-height: 32vh;
    background-color: white;
    font-family: montserrat;
    margin-right: 4vmax;
    margin-bottom: 5vmax;
    border-radius: 1vmin;
    border: 1px solid gainsboro;
    box-shadow: 0px 0px 5px gray;
    overflow: hidden;
    cursor: pointer;
}
.image{
    width: inherit;
    height: 23vh;
    /* background-color: red; */
    overflow: hidden;
}
.image img{
    width: 100%;
}
.details{
    width: inherit;
    padding: 2vmin;
/* background-color: yellow; */
}
.details p{
    font-size: 1.8vmin;
}